<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>


<connectionStrings>
  <add name="AdventureWorksLT2017Entities" connectionString="metadata=res://*/Usuarios.csdl|res://*/Usuarios.ssdl|res://*/Usuarios.msl;provider=System.Data.SqlClient;provider connection string='data source=PLX300000002201\SQLEXPRESS;initial catalog=AdventureWorksLT2017;integrated security=True;multipleactiveresultsets=False;connect timeout=30;encrypt=False;trustservercertificate=False;application name=&quot;Microsoft SQL Server Data Tools, SQL Server Object Explorer&quot;'" providerName="System.Data.EntityClient" />
  <add name="conUsers" connectionString='Data Source=PLX300000002201\SQLEXPRESS;Database=AdventureWorksLT2017;Integrated Security=SSPI;Trusted_Connection=true;'/>
</connectionStrings>
</configuration>
